In [1]:
import tensorflow as tf

In [3]:
from tensorflow.keras.models import load_model

In [4]:
import pickle

In [28]:
import pandas as pd

In [7]:
import numpy as np

In [8]:
model=load_model('model.h5')

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [13]:
with open('onehotencoder.pkl','rb')as file:
    geo=pickle.load(file)

In [14]:
with open('scaler.pkl','rb') as f:
    sc=pickle.load(f)

In [15]:
with open('label_encoder_gender.pkl','rb') as f:
    l=pickle.load(f)

In [38]:
input_data={
  'CreditScore': 600,
  'Geography': 'France',
  'Gender': 'Female',
  'Age': 40,
  'Tenure': 3,
  'Balance': 60000,
  'NumOfProducts': 2,
  'HasCrCard': 1, 
  'IsActiveMember': 1,
  'EstimatedSalary': 50000
}

In [22]:
da=pd.DataFrame{(input_data),index=[0]}

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3090596134.py, line 1)

In [39]:
geo_encoded=geo.transform([[input_data['Geography']]]).toarray()

c:\Users\Vedant\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [40]:
geo_df=pd.DataFrame(geo_encoded,columns=geo.get_feature_names_out(
['Geography']
))

In [41]:
input_df=pd.DataFrame([input_data])

In [42]:
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Female,40,3,60000,2,1,1,50000

In [43]:
input_data=pd.concat([input_df.drop('Geography',axis=1),geo_df],axis=1)

In [44]:
input_data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,Female,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [49]:
input_data['Gender']=l.transform(input_data['Gender'])

In [50]:
input_data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,0,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [52]:
input_scaled=sc.transform(input_data)

In [ ]:
input_scaled

array([[-0.53598516, -1.09499335,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [54]:
pred=model.predict(input_scaled)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 485ms/step

In [55]:
pred

array([[0.04553549]], dtype=float32)

In [57]:
pred[0][0]

np.float32(0.045535486)